<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.school.dao.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.summer.school.api.entity.Activity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="placard_url" jdbcType="VARCHAR" property="placardUrl" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cost_strategy_id" jdbcType="INTEGER" property="costStrategyId" />
    <result column="form_setting_id" jdbcType="INTEGER" property="formSettingId" />
    <result column="contact_information" jdbcType="VARCHAR" property="contactInformation" />
  </resultMap>
  <sql id="Base_Column_List">
    id, theme, type, start_time, end_time, address, placard_url, introduction, org_id, 
    create_time, cost_strategy_id, form_setting_id, contact_information
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.summer.school.api.entity.Activity">
    insert into activity (id, theme, type, 
      start_time, end_time, address, 
      placard_url, introduction, org_id, 
      create_time, cost_strategy_id, form_setting_id, 
      contact_information)
    values (#{id,jdbcType=INTEGER}, #{theme,jdbcType=VARCHAR}, #{type,jdbcType=BIT}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}, 
      #{placardUrl,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{orgId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{costStrategyId,jdbcType=INTEGER}, #{formSettingId,jdbcType=INTEGER}, 
      #{contactInformation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.summer.school.api.entity.Activity">
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="theme != null">
        theme,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="placardUrl != null">
        placard_url,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="costStrategyId != null">
        cost_strategy_id,
      </if>
      <if test="formSettingId != null">
        form_setting_id,
      </if>
      <if test="contactInformation != null">
        contact_information,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="theme != null">
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="placardUrl != null">
        #{placardUrl,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="costStrategyId != null">
        #{costStrategyId,jdbcType=INTEGER},
      </if>
      <if test="formSettingId != null">
        #{formSettingId,jdbcType=INTEGER},
      </if>
      <if test="contactInformation != null">
        #{contactInformation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.summer.school.api.entity.Activity">
    update activity
    <set>
      <if test="theme != null">
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="placardUrl != null">
        placard_url = #{placardUrl,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="costStrategyId != null">
        cost_strategy_id = #{costStrategyId,jdbcType=INTEGER},
      </if>
      <if test="formSettingId != null">
        form_setting_id = #{formSettingId,jdbcType=INTEGER},
      </if>
      <if test="contactInformation != null">
        contact_information = #{contactInformation,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.summer.school.api.entity.Activity">
    update activity
    set theme = #{theme,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      placard_url = #{placardUrl,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      cost_strategy_id = #{costStrategyId,jdbcType=INTEGER},
      form_setting_id = #{formSettingId,jdbcType=INTEGER},
      contact_information = #{contactInformation,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>