<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.school.dao.AttentionOrgMapper">
  <resultMap id="BaseResultMap" type="com.summer.school.api.entity.AttentionOrg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="attention_id" jdbcType="INTEGER" property="attentionId" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="is_inform" jdbcType="BIT" property="isInform" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_id, attention_id, type, is_inform
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attention_org
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attention_org
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.summer.school.api.entity.AttentionOrg">
    insert into attention_org (id, member_id, attention_id, 
      type, is_inform)
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{attentionId,jdbcType=INTEGER}, 
      #{type,jdbcType=BIT}, #{isInform,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.summer.school.api.entity.AttentionOrg">
    insert into attention_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="attentionId != null">
        attention_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isInform != null">
        is_inform,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="attentionId != null">
        #{attentionId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="isInform != null">
        #{isInform,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.summer.school.api.entity.AttentionOrg">
    update attention_org
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="attentionId != null">
        attention_id = #{attentionId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="isInform != null">
        is_inform = #{isInform,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.summer.school.api.entity.AttentionOrg">
    update attention_org
    set member_id = #{memberId,jdbcType=INTEGER},
      attention_id = #{attentionId,jdbcType=INTEGER},
      type = #{type,jdbcType=BIT},
      is_inform = #{isInform,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>