package $basePackage;
import ${basePackage}.core.base.service.BaseServiceImpl;
import ${basePackage}.entity.$TableName;
import ${basePackage}.service.${TableName}Service;
import org.springframework.stereotype.Service;

/**
 *${TableDescribe}
 * @author $author
 */
@Service
public class ${TableName}ServiceImpl extends BaseServiceImpl<$TableName,Integer> implements ${TableName}Service {


}
